body {
    margin: 0px;
    background-image: linear-gradient(to right, #2c2c2c, rgb(38, 38, 38), #ffffff);
}

h1{
    color: rgb(255, 255, 255) !important;
    height: 100%;
    margin-top: 20px !important;
    border-radius: 29px !important;
    display: flex;
    justify-content: center;
}

#pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
    margin-top: 38px;
}


.card-body-pokemon{
    border-radius: 20px !important;                     
    display: flex;                      
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white !important;
    border: 4px solid white;
    padding-top: 18px;
    text-transform: capitalize;
}

.card:hover {
    cursor: pointer;
}

.card-img-main {
    height: 350px;
    width: 300px;
    border-radius: 20px ;
    background-image: linear-gradient(to right top, rgb(229, 229, 229) ,rgb(100, 100, 100)) !important;
}

.card-img-main:hover {
    padding: 20px;
    background-image: linear-gradient(to right top, rgb(90, 90, 90) ,rgb(43, 43, 43)) !important;
    border: 8px solid rgb(82, 82, 82);
    box-shadow: 0px 0px 15px 12px rgb(255, 255, 255);
    cursor: pointer;
}

.card-title {
    text-transform: capitalize;
}

.card-text {
    border-radius: 10px;
}

.card-img-overlay{
    height: 200px;
}



.overlayHpBar{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#backButton{
    width: 140px;
    margin-left:20px ;
    margin-top: 28px;
    border-radius: 8px;
    height: 60px;
    margin-bottom: 18px;
}

#backButton:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

.overlay-name{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: xx-large !important;
    margin-bottom: 10px;
}

.progress{
    width: 40vw !important;
    height: 30px !important;
    border-radius: 20px !important;
    font-size: large !important;
    border: 2px black solid;
}

#pokemonCard{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    gap: 24px;
    background-image: linear-gradient(to right, #000000, rgb(38, 38, 38), #858585);
}

#content-overlay{
    background-color: #ffffff;
    height: 90vh;
    border-radius: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 28px;
    width: 80%;
    color: black;
}

#pokemonType{
    margin-top:28px;
}

.hp {
    background-color: green !important;
}

#infoBars {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: larger;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.d-none{
    display: none;
}

#previousButton, #nextButton {
height: 90px;
width: 45px;
background-color: #ffffff;
border-radius: 30%;
font-size: xx-large;
color: rgb(60, 60, 60);
opacity: 95%;
display: flex;
align-items: center;
cursor: pointer;
justify-content: center;
border: none;
}

#previousButton:hover, #nextButton:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

.marginPlus{
    margin-left: 8px;
}

#OverlayBottom{
    height: 25%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headingStats{
    color: black !important;
    font-weight: 150;
    margin-bottom: 28px;
}

#OverlayButtons{
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

#OverlayBtn1,
#OverlayBtn2{
    height: 50px;
    width: 170px;
    margin-top: 28px;
    border-radius: 20px;
    margin-top: 100px;
}

#OverlayBtn1:hover,
#OverlayBtn2:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

#infoDiv{
    background-color: #000000;
    height: 300px;
    width: 300px;
    position: fixed;

}























.bg-fire {
    background-color: red !important;
}

.bg-grass {
    background-color: lightgreen;
}

.bg-water {
    background-color: lightblue;
}

.bg-normal {
    background-color: gray;
}

.bg-poison {
    background-color: #66cc1a;
}

.bg-ground {
    background-color: rgb(183, 46, 46) !important;
}

.bg-electric {
    background-color: yellow;
}

.bg-bug {
    background-color: #A6B91A;
}

.bg-fairy {
    background-color: #D685AD;
}

.bg-fighting {
    background-color: #C22E28;
}

.bg-rock {
    background-color: #B6A136;
}

.bg-ice {
    background-color: #96D9D6;
}

.bg-psychic {
    background-color: #F95587;
}

.bg-ghost {
    background-color: #735797;
}

.bg-dragon {
    background-color: #6F35FC;
}

.bg-blue {
    background-color: rgb(37, 37, 251) !important;
}

.bg-magenta {
     background-color: rgb(134, 30, 134) !important;
    
}

.bg-img-fire {
    background-image: url("./img/fire.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.bg-img-grass {
    background-image: url("./img/grass.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5
}

.bg-img-water {
    background-image: url("./img/water.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5
}

.bg-img-electric {
    background-image: url("./img/electric.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5
}

.bg-img-psychic {
    background-image: url("./img/psychic.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5
}

.bg-img-rock {
    background-image: url("./img/rock.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5
}