body {
    margin: 0px;
    background-image: url(./img/wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    height: 100%;
    margin-top: 20px !important;
    border-radius: 29px !important;
    display: flex;
    justify-content: center;
}

#pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
    margin-top: 38px;
}


.card-body-pokemon{
    border-radius: 0px 0px 18px 18px;                     
    display: flex;                      
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    height: 15vh;
    width: 300px;
}

.card:hover {
    cursor: pointer;
}

.card-img-main {
    height: 300px;
    width: 300px;
    border-radius: 18px 18px 0px 0px ;
    background-image: linear-gradient(to right top, rgb(229, 229, 229) ,rgb(68, 68, 68)) !important;
}

.card-img-main:hover {
    padding: 20px;
    background-image: linear-gradient(to right top, rgb(90, 90, 90) ,rgb(43, 43, 43)) !important;
    border: 4px solid rgb(37, 37, 37);
    box-shadow: 0px 0px 18px 12px rgb(69, 69, 69);
    cursor: pointer;
    
}

.card-title {
    text-transform: capitalize;
}

.overlayHpBar{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 30vw;
}

#backButton{
    border-radius: 8px;
    margin-top: 8%;
}

#backButton:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

.overlay-name{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: xx-large !important;
    margin-bottom: 10px;
}

.progress{
    width: 40vw !important;
    height: 30px !important;
    border-radius: 20px !important;
    font-size: large !important;
    border: 2px black solid;
}

#pokemonCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-transform: capitalize;
    position: fixed;
    top: 0px;
    gap: 24px;
    background-image: url(./img/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#pokemonType{
    margin-top:28px;
}


.hp {
    background-color: green !important;
}

#infoBar{
    width: 20vw;
}

#infoBars {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: larger;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}

.d-none{
    display: none;
}

#previousButton, #nextButton {
height: 90px;
width: 45px;
background-color: #ffffff;
border-radius: 30%;
font-size: xx-large;
color: rgb(60, 60, 60);
opacity: 95%;
display: flex;
align-items: center;
cursor: pointer;
justify-content: center;
border: none;
}

#previousButton:hover, #nextButton:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

.marginPlus{
    margin-left: 8px;
}

#OverlayBottom{
    height: 25%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#headingStats{
    font-weight: 150;
    margin-bottom: 28px;
}

#OverlayButtons{
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

#OverlayBtn1,
#OverlayBtn2{
    height: 50px;
    width: 170px;
    margin-top: 28px;
    border-radius: 20px;
    margin-top: 100px;
}

#OverlayBtn1:hover,
#OverlayBtn2:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0px 5px 20px 3px rgb(22, 22, 22);
}

#infoDiv{
    background-color: #ffffff;
    height: 300px;
    width: 300px;
    position: fixed;
}

#NameAndType{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}








.bg-fire {
    background-color: red ;
    color: black;
}

.bg-grass {
    background-color: lightgreen;
    color: black;
}

.bg-water {
    background-color: lightblue;
    color: black;
}

.bg-normal {
    background-color: gray;
    color: black;
}

.bg-poison {
    background-color: #66cc1a;
    color: black;

}

.bg-ground {
    background-color: rgb(183, 46, 46) !important;
    color: black;

}

.bg-electric {
    background-color: yellow;
    color: black;
}

.bg-bug {
    background-color: #A6B91A;
    color: black;

}

.bg-fairy {
    background-color: #D685AD;
    color: black;

}

.bg-fighting {
    background-color: #C22E28;
    color: black;

}

.bg-rock {
    background-color: #B6A136;
    color: black;
}

.bg-ice {
    color: black;
    background-color: #96D9D6;
}

.bg-psychic {
    background-color: #F95587;
    color: black;
}

.bg-ghost {
    background-color: #735797;
    color: black;
}

.bg-dragon {
    color: black;
    background-color: #6F35FC;
}

.bg-blue {
    color: black;
    background-color: rgb(37, 37, 251) !important;
}

.bg-magenta {
    color: black;
     background-color: rgb(134, 30, 134) !important;
}


















.bg-img-fire {
    background-image: url("./img/fire.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-grass {
    background-image: url("./img/grass.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-water {
    background-image: url("./img/water.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-electric {
    background-image: url("./img/electric.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-psychic {
    background-image: url("./img/psychic.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-rock {
    background-image: url("./img/rock.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-bug {
    background-image: url("./img/bug.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-normal {
    background-image: url("./img/normal.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-poison {
    background-image: url("./img/poison.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-electric {
    background-image: url("./img/bug.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-ground {
    background-image: url("./img/ground.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-fairy {
    background-image: url("./img/fairy.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-fighting {
    background-image: url("./img/fighting.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-dragon {
    background-image: url("./img/dragon.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-ice {
    background-image: url("./img/ice.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}

.bg-img-ghost {
    background-image: url("./img/ghost.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}







.bg-fireSUB {
    background-color: red;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-grassSUB {
    background-color: lightgreen;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-waterSUB {
    background-color: lightblue;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-normalSUB {
    background-color: gray;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-poisonSUB {
    background-color: #66cc1a;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-groundSUB {
    background-color: rgb(183, 46, 46) !important;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-electricSUB {
    background-color: yellow;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-bugSUB {
    background-color: #A6B91A;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-fairySUB {
    background-color: #D685AD;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-fightingSUB {
    background-color: #C22E28;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-rockSUB {
    background-color: #B6A136;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-iceSUB {
    color: black;
    background-color: #96D9D6;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-psychicSUB {
    background-color: #F95587;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-ghostSUB {
    background-color: #735797;
    color: black;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-dragonSUB {
    color: black;
    background-color: #6F35FC;
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-blueSUB {
    color: black;
    background-color: rgb(37, 37, 251);
    border-radius: 20px;
    height: 75%;
    width: 45%;
}

.bg-magentaSUB {
    color: black;
    background-color: rgb(134, 30, 134);
    border-radius: 20px;
    height: 75%;
    width: 45%;
}




















.bg-img-fireSUB {
    background-image: url("./img/fire.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-grassSUB {
    background-image: url("./img/grass.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-waterSUB {
    background-image: url("./img/water.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-electricSUB {
    background-image: url("./img/electric.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-psychicSUB {
    background-image: url("./img/psychic.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-rockSUB {
    background-image: url("./img/rock.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-bugSUB {
    background-image: url("./img/bug.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-normalSUB {
    background-image: url("./img/normal.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-poisonSUB {
    background-image: url("./img/poison.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-electricSUB {
    background-image: url("./img/bug.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-groundSUB {
    background-image: url("./img/ground.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-fairySUB {
    background-image: url("./img/fairy.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-fightingSUB {
    background-image: url("./img/fighting.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-dragonSUB {
    background-image: url("./img/dragon.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-iceSUB {
    background-image: url("./img/ice.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}

.bg-img-ghostSUB {
    background-image: url("./img/ghost.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: start;
    padding-top: 18px;
}


