body {
    margin: 0px;
}

#pokedex-card {
    min-height: 35vh;
    background-color: red;
    color: white;
    border: none;
}

.card-body{
    height: 10vh;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

h1{
    padding-left: 30px;
    color: blue !important;
    background-color: yellow;
    width: 230px;
    height: 100%;
    display: flex;
    margin-top: 20px !important;
    border-radius: 0px 20px 20px 0px;
    border: 4px solid blue ;
}

#pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 38px;
}

.card {
    cursor: pointer;
}

.progress {
    height: 32px !important;
    border-radius: 50px !important;
    border: 5px solid rgb(0, 0, 0);
    font-size: larger !important;
}

.card-img-top {
    background-color: white;
}

.card-title {
    text-transform: capitalize;
}

.card-text {
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.card-body h5, p{
    display: flex;
    justify-content: center;
}

.bg-fire {
    background-color: red;
}

.bg-grass {
    background-color: lightgreen;
}

.bg-water {
    background-color: lightblue;
}

.bg-normal {
    background-color: gray;
}

.bg-poison {
    background-color: #66cc1a;
}

.bg-ground {
    background-color: rgb(183, 46, 46);
}

.bg-electric {
    background-color: yellow;
}

.bg-bug {
    background-color: #A6B91A;
}

.bg-fairy {
    background-color: #D685AD;
}

.bg-fighting {
    background-color: #C22E28;
}

.bg-rock {
    background-color: #B6A136;
}

.bg-ice {
    background-color: #96D9D6;
}

.bg-psychic {
    background-color: #F95587;
}

.bg-ghost {
    background-color: #735797;
}

.bg-dragon {
    background-color: #6F35FC;
}

.card-img-top:hover {
    background-color: lightgrey;
} 

#pokemoncard{
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 8888;
    position: absolute;
    top: 0px;
}

.d-none{
    display: none;
}
